@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9ead2;
  --foreground: #4f5127;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
